/* SCSS Stylesheet */
$colorText: #3d3d3d;
$colorPrimary: #6d6d6d;
body {
  color: $colorText;
  background-color: $colorPrimary;
}
p {
  color: $colorText;
}
h2 {
  background-color: $colorPrimary;
}
