.container {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.box {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 {
  background-color: #221ef6;
  font-size: 20px;
  height: 60px;
  width: 100px;
}
.box2 {
  background-color: #f6f458;
  font-size: 40px;
  height: 100px;
  width: 180px;
}
.box3 {
  background-color: #e250f5;
  font-size: 80px;
  height: 160px;
  width: 260px;
}
.box4 {
  background-color: #26f5f5;
  font-size: 40px;
  height: 100px;
  width: 180px;
}
.box5 {
  background-color: #fa1111;
  font-size: 20px;
  height: 60px;
  width: 100px;
}
